<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
    <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
    <meta charset="utf-8">
    <title>categories</title>
  </head>
  <body class="ui container">

    <div class="ui message">
    <center class="ui container">
    <h1>TOP 5</h1>

  <div class="ui divider">

  </div>

    <table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>NickName</th>
    <th>Puntaje</th>
  </tr></thead>
  <tbody>
    <% @records.first(5).each_with_index do |record,i|%>
      <tr>
        <td>
          <h4 class="ui image header">
            <div class="content"><%= i+1 %> .- <%= record[:name] %> </div>
            <% %>
        </h4>
      </td>
        <td>
          <%= record[:points] %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
  </center>
</div>


    <%if (@@g.bestScores.getPosition(@@g.nickname) != -1)%>
      <div class="ui message">
      <center class="ui container">
        <h1><%= @@g.bestScores.getPosition(@@g.nickname).to_s+".- "+@@g.nickname+": "+@@g.score.to_s %></h1>
        <% if (@@g.bestScores.getPosition(@@g.nickname)<6 and @@g.bestScores.getPosition(@@g.nickname)!=-1)%>
          <h1>Felicidades estas entre los 5 Primeros </h1>
        <% end %>
      </center>
      </div>
    <% end %>

    <form action="/" method="get">
      <input type="hidden" value="<%=@@g.nickname%>" name="nickname">
      <input type="submit" class="fluid ui yellow button" value="Volver al menu">
    </form>

  </body>
</html>
